{:aliases
 {:run {:exec-fn notebook/run
        ;; needed on JDK16+ to allow Netty/Arrow access DirectBuffer internals:
        :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                   "-Dio.netty.tryReflectionSetAccessible=true"]}
  :nextjournal/clerk
  {:exec-fn nextjournal.clerk/build!
   :exec-args {:paths ["src/learn-xtql-today-with-clojure.clj"]}
   ;; TODO: add all notebooks you want to have built ☝️
   ;; if you just want to build one notebook, set `:index`

   ;; optional list of aliases to include in the build
   :nextjournal.clerk/aliases [:run]}}

 :deps
 {;; for testing only - run XTDB as a server for production(!)
  com.xtdb.labs/xtdb-core {:mvn/version "2.0.0-SNAPSHOT"}
  com.xtdb.labs/xtdb-http-server {:mvn/version "2.0.0-SNAPSHOT"}
  com.xtdb.labs/xtdb-pgwire-server {:mvn/version "2.0.0-SNAPSHOT"}

  ;; XTDB API and http client
  com.xtdb.labs/xtdb-api {:mvn/version "2.0.0-SNAPSHOT"}
  com.xtdb.labs/xtdb-http-client-clj {:mvn/version "2.0.0-SNAPSHOT"}

  clj-test-containers/clj-test-containers {:mvn/version "0.7.4"}

  com.github.seancorfield/next.jdbc {:mvn/version "1.3.894"}
  org.postgresql/postgresql {:mvn/version "42.2.18" #_#_ :scope "provided"}
  ;;com.zaxxer/HikariCP {:mvn/version "4.0.3"}

  metosin/jsonista {:mvn/version "0.3.6"}
  com.github.seancorfield/honeysql {:mvn/version "2.5.1091"}

  io.github.nextjournal/clerk {:mvn/version "0.15.957"}

  ch.qos.logback/logback-classic {:mvn/version "1.2.3"}

  djblue/portal {:mvn/version "0.29.1"}

  tatut/ripley {:git/url "https://github.com/tatut/ripley.git"
                :sha "b6963c1aef51b9d30a6a87da1317e79b01ea4065"}
  garden/garden {:mvn/version "1.3.10"}
  compojure/compojure {:mvn/version "1.6.1"}
  http-kit/http-kit {:mvn/version "2.5.3"}

  }
 :mvn/repos {"clojars" {:url "https://repo.clojars.org/"}
             "sonatype snapshots" {:url "https://s01.oss.sonatype.org/content/repositories/snapshots"}}}
